@use "../../styles/partials/global" as *;

.cta-button {
	display: block;
	width: 100%;
	border-radius: 4px;
	border: 1px solid transparent;
	padding: $l-space-0 $l-space-2;
	text-align: center;
	text-decoration: none;
	cursor: pointer;

	&--txt-large {
		@extend %f-button-large;
	}
	&--txt-small {
		@extend %f-button-small;
	}

	&--primary {
		background: $c-hawkweed;
		color: $c-blackberry;
		&:hover {
			background: $c-matcha;
		}
	}
	&--secondary {
		border-color: $c-pine;
		background: rgba($c-matcha, .3);
		color: $c-pine;
		&:hover {
			background: $c-matcha;
		}
	}

	@include l-tablet {
		width: fit-content;
		flex-shrink: 0;
	}
}