@use "../../styles/partials/global" as *;

.location-page {
	color: $c-blackberry;

	&__map {
		height: u-pxToRem(300);
		border: 2px solid $c-matcha;
		border-radius: 4px;
	}

	// || POI DETAILS/TAGS

	&__description {
		break-before: column;
	}
	&__tag-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(u-pxToRem(220), 1fr));
		gap: $l-space-2;
	}
	&__collapsible-wrapper {
		font-size: u-pxToRem(14);
	}
	&__collapsible-header {
		font-family: $f-family-cardenio;
		font-size: u-pxToRem(20);
		cursor: pointer;
	}

	@media (min-width: 530px) {
		&__detail-section {
			columns: 2;
			column-gap: $l-gutter-desktop;
		}
	}

	// || WILDLIFE

	&__no-species {
		width: 100%;
		height: 100%;
		background: rgba($c-matcha, .3);
		border: 2px solid $c-matcha;
		border-radius: 4px;
		padding: $l-space-1;
		text-align: center;
		text-decoration: none;
		font-size: u-pxToRem(18);
	}
	&__contribute-cta {
		font-size: u-pxToRem(16);
		color: $c-pine;
		&:hover {
			color: $c-hawkweed;
		}
	}
	&__species-list {
		padding: 0;
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(u-pxToRem(180), 1fr));
		gap: $l-space-1;
	}

	@include l-tablet {
		&__species-list {
			padding: 0;
			list-style-type: none;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(u-pxToRem(200), 1fr));
			gap: $l-space-2;
		}
	}
}