@use "sass:math";
@use "layout" as *;

/// Converts pixel values to rems.
/// @param {number} $px The pixel value to convert.
/// @return {number} The rem equivalent of the input value.
@function pxToRem($px) {
	$pxValue: math.div($px, ($px * 0 + 1)); // strip units
	@return math.div($pxValue, 16) * 1rem;
}

/// A set of styles which hides an element visually, while ensuring screen
/// readers will still read the contents.
@mixin screen-reader-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/// After tablet breakpoint, use padding to clamp the width of inner content so
/// it's never wider than the maximum desktop content width. Similar in concept
/// to margin: auto.
@mixin content-width-clamp {
	@include tablet {
		padding-inline: max(calc((100% - $max-content-width) / 2), $margin-tablet);
	}
}