@use "../../styles/partials/global" as *;

.checkbox-group {
	&__error {
		display: inline-block;
		vertical-align: middle;
		background: darken($c-hawkweed, 10%);
		width: $l-space-3;
	}
}

.checkbox {
	cursor: pointer;
	&__input {
		appearance: none;
		vertical-align: middle;
		margin-right: $l-space-1;
		width: $l-space-2;
		aspect-ratio: 1;
		border-radius: 4px;
		border: 1px solid $c-pine;
		background: rgba($c-matcha, .5);
		&:checked {
			background:
				linear-gradient(
					to bottom left,
					transparent 45%,
					$c-pine 45%, $c-pine 55%,
					transparent 55%
				),
				linear-gradient(
					to bottom right,
					rgba($c-matcha, .5) 45%,
					$c-pine 45%, $c-pine 55%,
					rgba($c-matcha, .5) 55%
				);
		}
		&--invalid {
			border-color: darken($c-hawkweed, 10%);
			outline-color: darken($c-hawkweed, 10%);
			background: rgba($c-hawkweed, .15);
		}
	}
}
