
.logo {
	min-width: min-content;
	aspect-ratio: 1.75;
	mask-image: url("../../assets/logo/hike-and-seek-optimized.svg");
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: currentColor;
	font-size: 1rem;
}
