@use "../../styles/partials/global" as *;

.auth-form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: $l-space-2;
	margin-block: $l-space-4;
	@include u-content-width-clamp(u-pxToRem(500), 0px);

	&__submit-btn {
		margin-left: auto;
	}

	&__register {
		align-self: center;
		margin: 0;
		@extend %f-caption-large;
		text-align: center;
	}
	&__register-link {
		color: $c-pine;
		&:hover {
			color: $c-hawkweed;
		}
	}
}
