@use "../../styles/partials/global" as *;

.footer {
	display: flex;
	flex-flow: row wrap;
	gap: $l-space-2 $l-space-7;
	padding: $l-space-5 0;
	background: $c-blackberry;
	color: $c-white;

	&__sections-wrapper {
		display: flex;
		flex-flow: row wrap;
		column-gap: 1px;
		background: $c-hawkweed;
		width: fit-content;
	}
	&__section {
		flex: 1 0 content;
		padding: $l-margin-mobile;
		background: $c-blackberry;
		&:first-child {
			flex: 1 0 100%;
			column-span: all;
			display: flex;
			align-items: center;
			gap: $l-space-2;
			width: fit-content;
		}
	}
	&__logo {
		width: 6rem;
	}
	&__copyright {
		display: inline-block;
		margin-block: $l-space-2;
		font-size: u-pxToRem(13);
	}
	&__subheading {
		margin-top: 0;
	}
	&__link {
		display: flex;
		align-items: center;
		gap: $l-space-1;
		margin-block: $l-space-2;
		color: $c-matcha;
		&:hover {
			color: $c-hawkweed;
			text-decoration: underline;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&--top {
			flex: 1 0 50%;
			display: block;
			margin: 0 $l-margin-mobile;
			border-top: 1px solid $c-hawkweed;
			padding-top: $l-space-2;
			font-size: u-pxToRem(13);
		}
	}
	&__icon {
		display: block;
		width: $l-space-3;
	}

	@media (min-width: 587px) {
		&__section {
			flex: 1 1 auto;
			width: 14rem;
		}
		&__section:first-child {
			flex: initial;
			display: initial;
		}
		&__logo, &__copyright {
			display: block;
			line-height: normal;
		}
	}

	@include l-tablet {
		@include u-content-width-clamp($l-max-content-width + $l-margin-tablet*2, 0px);
		&__section {
			width: 14rem + $l-margin-tablet*2;
			padding-inline: $l-margin-tablet;
		}
		&__link--top {
			margin-inline: $l-margin-tablet;
		}
	}
}