@use "../../styles/partials/global" as *;

.explore-map-radius {
	stroke: lighten($c-blackberry, 45%);
	stroke-dasharray: 6 5 10 6 5 7 5 8;
	fill: lighten($c-blackberry, 50%);
	fill-opacity: .1;
	cursor: grab;
}

.explore-map-poi {
	&--trail {
		stroke: #0368bb;
		stroke-width: .35rem;
	}
	&--campground {
		stroke: darken($c-hawkweed, 20%);
		fill: $c-hawkweed;
		stroke-width: .2rem;
	}
	&--reserve {
		stroke: lighten($c-pine, 15%);
		fill: $c-matcha;
		stroke-width: .2rem;
	}
	&__title {
		font-size: u-pxToRem(24);
		text-overflow: ellipsis;
		max-width: u-pxToRem(400);
		color: $c-matcha;
	}
	&__content {
		font-family: $f-family-roboto;
		font-size: u-pxToRem(14);
	}
}

.explore-map-popup {
	// Leaflet's popups are difficult; fighting for specificity
	// with their stylesheet is required
	& .leaflet-popup {
		&-content-wrapper {
			border-radius: 4px;
			background: $c-pine;
			color: $c-white;
			box-shadow: 0 0 5px 1px $c-white;
			text-align: center;
		}
		&-content {
			margin: $l-space-2;
			color: currentColor;
			& a {
				color: currentColor;
				&:hover {
					color: $c-hawkweed;
				}
			}
		}
		&-tip {
			background: $c-pine;
			box-shadow: 0 0 8px 1px $c-white;
		}
	}
	& a.leaflet-popup-close-button {
		color: $c-matcha;
		&:hover {
			color: $c-hawkweed;
		}
	}
}
